<div class="{{cssClassName}}-container">
  <header class="{{cssClassName}}-header">
    <div class="{{cssClassName}}-header-label">
      Selected Range
    </div>
    <div class="{{cssClassName}}-header-content">
      {{ calendar.displayVal }}
    </div>
  </header>
  <nav class="{{cssClassName}}-nav">
    <button class="{{cssClassName}}-nav-btn"
            (click)="onCalendarBack()"><</button>
    <div class="{{cssClassName}}-nav-content">
      {{ calendar.month | toMonthString }}
      {{ calendar.year }}
    </div>
    <button class="{{cssClassName}}-nav-btn"
            (click)="onCalendarForward()">></button>
  </nav>
  <main>
    <div class="{{cssClassName}}-calendar">
      <div class="{{cssClassName}}-calendar-row">
        <div class="{{cssClassName}}-calendar-cell"
          *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
          <div class="{{cssClassName}}-calendar-cell-value">
            {{ day | toWeekday }}
          </div>
        </div>
      </div>
      <div *ngFor="let week of calendar.days | splitByWeeks"
           class="{{cssClassName}}-calendar-row">
        <div *ngFor="let day of week"
            class="{{cssClassName}}-calendar-cell"
            [ngClass]="getDayCellClass(day)"
            (click)="onDayClick(day)">
            <div class="{{cssClassName}}-calendar-cell-value">
              {{ day.dayOfMonth }}
            </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="{{cssClassName}}-footer">
    <button class="{{cssClassName}}-footer-btn {{cssClassName}}-footer-btn__cancel">
      Cancel
    </button>
    <div class="{{cssClassName}}-footer-fill"></div>
    <button class="{{cssClassName}}-footer-btn {{cssClassName}}-footer-btn__submit">
      Ok
    </button>
  </footer>
</div>



