$mainColor: #17b2eb;
$tableBackground: #f2f2f2;

.ng-date-range-picker {
  &-header {
    background: $mainColor;
    color: #fff;
    padding: 1em;
    font-family: inherit;
    &-label {
      font-size: 0.9em;
      font-weight: 300;
      opacity: 0.8;
    }
    &-content {
      font-size: 1.4em;
      text-align: justify;
      white-space: nowrap;
      font-weight: 300;
    }
  }

}

.ng-date-range-picker-container {
  width: 21em;
  font-family: sans-serif;
}

.ng-date-range-picker-nav {
  width: 100%;
  display: flex;
  &-btn {
    border: none;
    background: none;
    height: 2em;
    font-size: 1.2em;
    font-family: monospace;
    font-weight: 800;
    transform: scaleY(1.6);
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    outline: none;
  }
  &-content {
    height: 2em;
    line-height: 2em;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
}

.ng-date-range-picker-calendar {
  width: 21em;
  font-family: sans-serif;
  background-color: $tableBackground;
  font-weight: 100;
  &-row {
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  &-cell {
    width: 3em;
    height: 3em;
    text-align: center;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    font-family: inherit;
    &.last-month,
    &.next-month {
      color: #c1c1c1;
    }

    &.in-range {
      border-top: 2px $mainColor solid;
      border-bottom: 2px $mainColor solid;
      background-color: lighten($mainColor, 30%);
    }
    &.first-in-range {
      border-left: 1px $mainColor solid;
      border-radius: 100px 0 0 100px;
      color: #fff;

    }
    &.last-in-range {
      border-right: 1px $mainColor solid;
      border-radius: 0 100px 100px 0;
      color: #fff;

    }

    &.first-in-range &-value,
    &.last-in-range &-value {
      background-color: $mainColor;
      border-radius: 100px;
    }

    &-value {
      overflow: hidden;
      width: calc(3em / 0.8);
      height: calc(3em / 0.8);
      line-height: calc(3em / 0.8);
      text-align: center;
      display: block;
      left: 0;
      top: 0;
      font-size: 0.8em;
    }
  }


}

